body {
    font-family: Arial, sans-serif;
    /*background-color: rgb(212, 217, 203);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-size: 100% 100%;
}
.container {
    background: rgb(237, 235, 235);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.container h2 {
    text-align: center;
}
label {
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: block;
    border: 2px solid rgb(84, 19, 80);
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #218838;
}
